* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: 'Benton Sans Condensed Regular';
  src: url("../fonts/BentonSans Condensed Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benton Sans Condensed Black';
  src: url("../fonts/BentonSans Condensed Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.cabecalho {
  position: static;
  gap: 30rem;
  background-color: #B73D26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5.93rem;
}

.cabecalho .cabecalho-imagem {
  position: relative;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  width: 3.63rem;
  height: 17.33rem;
  margin-left: 9.91rem;
  margin-top: 1.3rem;
}

.cabecalho .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 39.61rem;
  height: 2.37rem;
}

.cabecalho .nav .nav-link {
  color: #fff;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.cabecalho .nav .nav-link:hover {
  color: #E27B01;
  font-family: 'Benton Sans Condensed Regular';
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: left;
}

.cabecalho .nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}

.conteudo {
  width: 100%;
  height: 47.8rem;
  background-color: #B73D26;
}

.conteudo .entrada-marun {
  width: 100%;
}

.conteudo .conteudo-texto {
  width: 28rem;
  position: relative;
  top: -20rem;
  left: 30rem;
}

.conteudo .titulo {
  font-family: 'Benton Sans Condensed Black';
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.81rem;
}

.conteudo .titulo-branco {
  color: #fff;
}

.conteudo .titulo-mostarda {
  color: #FF8A00;
}

.conteudo .texto {
  color: #fff;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.conteudo .texto b {
  color: #B73D26;
}

.cozinha {
  margin: auto;
  width: 67rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cozinha .chef-imagem {
  width: 30rem;
  border-radius: 8px;
}

.cozinha .conteudo-texto-cozinha {
  padding-left: 3rem;
}

.cozinha .conteudo-texto-cozinha .nome-card {
  padding-top: 4rem;
  text-transform: uppercase;
  color: #B73D26;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.745em;
}

.cozinha .conteudo-texto-cozinha .titulo-cozinha {
  font-family: 'Benton Sans Condensed Black';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
}

.cozinha .conteudo-texto-cozinha .titulo-cozinha-hibisco {
  color: #B73D26;
}

.cozinha .conteudo-texto-cozinha .texto {
  padding-top: 4rem;
  color: #000;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.cozinha .conteudo-texto-cozinha .texto b {
  color: #B73D26;
}
/*# sourceMappingURL=style.css.map */