//cores
$branco: #fff;
$branco-gelo: #E5E5E5;
$preto: #000;
$hibisco: #B73D26;
$hibisco-transparente: rgba(182, 61, 37, 0.8);
$hibisco-claro: #D85931;
$cinza-claro: #DADADA;
$cinza-medio: #C4C4C4;
$cinza-escuro: #909090;
$mostarda-escuro: #E27B01;
$mostarda-claro: #FF8A00;



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: 'Benton Sans Condensed Regular';
    src: url('../fonts/BentonSans\ Condensed\ Regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Benton Sans Condensed Black';
    src: url('../fonts/BentonSans\ Condensed\ Black.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Benton Sans Condensed Bold';
    src: url('../fonts/BentonSans\ Condensed\ Bold.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Benton Sans Condensed Medium';
    src: url('../fonts/BentonSans\ Condensed\ Medium.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

.cabecalho {
    position: fixed;
    z-index: 10000000;
    gap: 32vw;
    background-color: $hibisco;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;


    .cabecalho-imagem{
        position: fixed;
        align-self: baseline;
        width: 4.5vw;
        height: 42vh;
        margin-left: 10vw;
        margin-top: 2vh;
        z-index: 100;
    }

    .nav{
        margin-right: 5vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5vw;
        width: 100%;
        height: 5vh;
        z-index: 10000;
    

        .nav-link{
            color: $branco;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1vw;
            line-height: 1vh;
            letter-spacing: 0.3vw;
            text-transform: uppercase;
            transition: 0.5s;

            &:hover{
                color: $mostarda-escuro;
            }
        }

        .icons{
            display: flex;
            justify-content: space-between;
            gap: 3vw;
        }
    }
}

.conteudo{
    width: 100%;
    height: 44.25vw;
    background-color: $hibisco;
    z-index: 0;
    
    .grafismos-pai{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .grafismos1{
            background-image: url(../img/grafismos-main-superior.png);
            background-size: 14vw;
            background-position-y: 5.5vw;
            width: 100%;
            height: 15vw;
        }
        .grafismos2{
            background-image: url(../img/grafismos-main-inferior.png);
            background-size: 14vw;
            background-position-y: 16.75vw;
            width: 100%;
            height: 30.5vw;
        }
    }

        

    .entrada-marun{
        width: 100%;
        height: 30vw;
        z-index: 2;
        top: 10.6vw;
        position: absolute;
    }

    .conteudo-texto{
        width: 33vw;
        position: relative;
        top: -25vw;
        left: 20vw;
        z-index: 3;
    }

    .titulo{
        font-family: 'Benton Sans Condensed Black';
        font-style: normal;
        font-weight: 800;
        font-size: 4vw;
        line-height: 4vw;
    }

    .titulo-branco{
        color: $branco;
    }

    .titulo-mostarda{
        color: $mostarda-claro;
    }

    .texto {
        color: $branco;
        font-family: 'Benton Sans Condensed Regular';
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 130%;
        letter-spacing: 0.02em;
    }

    .texto b{
        color: $hibisco
    }
}

.cozinha{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 8vw auto;

    .cozinha-apresentacao{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;

        .chef-imagem{
            width: 28vw;
            margin: 0 3vw;
            align-self: flex-start;
        }

        .nome-card{
            text-transform: uppercase;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 0.75vw;
            line-height: 140%;
            letter-spacing: 0.5vw;
            color: $hibisco;
            margin: 0.75vw 0;
        }

        .titulo-cozinha{
            font-family: 'Benton Sans Condensed Black';
            font-style: normal;
            font-weight: 800;
            font-size: 4vw;
            line-height: 4.5vw;
        }

        .titulo-cozinha-hibisco{
            color: $hibisco;
        }

        .texto{
            margin-top: 2vw;
            padding-right: 9.5vw;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1.25vw;
            line-height: 130%;
            letter-spacing: 0.02em;

            b{
                color: $hibisco;
                font-weight: bold;
            }
        }
    }

    .galeria-cozinha{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-bottom: 2px solid #9191914d;
        padding-bottom: 2.5vw;
    }
    
    .imagem-galeria{
        margin: 1vw auto;
        width: 25vw;
    }
}

.drinks{
    width: 90%;
    display: flex;
    margin: 4rem auto;

    .conteudo-texto-drinks{
        width: 50rem;
        .nome-card{
            text-transform: uppercase;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 0.745em;
            color: $hibisco;
            margin: 1rem 0;
        }
    
        .titulo-drinks{
            text-align: left;
            font-family: 'Benton Sans Condensed Black';
            font-style: normal;
            font-weight: 800;
            font-size: 4rem;
            line-height: 4.5rem;
        }
    
        .titulo-drinks-hibisco{
            color: $hibisco;
        }
    
        .texto{
            margin: 3rem 0;
            padding-right: 1rem;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.02em;
    
            b{
                color: $hibisco;
                font-weight: bold;
            }
        }
        
        .cardapio{
            width: 305px;
            height: 62px;
            border-radius: 8px;
            background-color: $mostarda-escuro;
            color: $branco;
            text-transform: uppercase;
            text-align: center;
            border: none;
            font-family: 'Benton Sans Condensed Medium';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.15em;
            transition: 0.5s;

            &:hover{
                background-color: $mostarda-claro;
                border: $hibisco solid 1px;
            }
        }
    }
    
    .galeria-drinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .drinks-imagem{
        margin-bottom: 1rem;
    }
}

.sobre{
    background-image: url(../img/rectangle-3.png);

    .galeria-sobre{
        .siga{
            font-family: 'Benton Sans Condensed Black';
            font-style: normal;
            font-weight: 800;
            font-size: 4rem;
            line-height: 4.5rem;
            text-align: center;            
        }

        .fotos-sobre{
            height: 16rem;
            background-image: url(../img/grafismos-sobre.png);
            background-size: 16rem;
            display: flex;
            flex-direction: row;
            width: 100%;

            .galeria-instagram{
                margin: auto;
                width: 12rem;
                height: 12rem;
            }
        }
    }

    .descricao-sobre{
        width: 33vw;
        height: 111vh;

        .imagem-sobre{
            margin: auto;
            width: 99vw;
            z-index: 0;
        }

        .texto-sobre{
            margin: auto;
            height: 100%;
            padding: 3.24rem 2.5rem;
            background-color: $hibisco-transparente;
            position: relative;
            z-index: 2;
            top: -45.26rem;
            left: 40rem;
        }

        .subtitulo{
            text-align: inherit;
            color: $branco;
            font-family: 'Benton Sans Condensed Bold';
            font-style: normal;
            font-weight: 800;
            font-size: 3rem;
            line-height: 3.62rem;
        }

        .subtitulo-mostarda-claro{
            color: $mostarda-claro;
        }

        .texto{
            color: $branco;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.03em;

            b{
                color: $mostarda-claro;
                font-weight: bold;
            }
        }
    }
    
}

.mapa{
    width: 100%;
}

.rodape{
    height: 20rem;
    position: relative;
    top: -1.5rem;
    background-image: url(../img/rodape-grafismos.png);
    background-size: 21.75rem;

    .rodape-elementos{
        padding: 4rem 0;
        height: 16.5rem;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: 1.5rem;
        background-color: $preto;
        color: $branco;

        .imagem-rodape{
            margin: auto 0;
            width: 10.37rem;
            height: 5.94rem;
        }

        .rodape-texto{
            margin: auto 0;

            p{
                font-family: 'Benton Sans Condensed Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.05em;

                a{
                    color: $mostarda-escuro;
                }
            }
            
        }

        .contato{
            display: flex;
            flex-direction: column;
            align-items: initial;
            margin: auto 0;
            p{
                padding: 1rem 0;
                color: $branco;
                font-family: 'Benton Sans Condensed Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
            }

            .elemento-contato{
                display: flex;
                justify-content: space-around;

                .icons{
                    text-decoration-color: none;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $hibisco;
                    border-radius: 50%;
                    width: 3.75rem;
                    height: 3.75rem;
                    margin: 0 1rem;

                    a:visited{
                        color: $branco;
                    }
                    svg{
                        margin: auto 0;
                    }
            }
            
            }
        }
    }


}