//cores
$branco: #fff;
$branco-gelo: #E5E5E5;
$preto: #000;
$hibisco: #B73D26;
$hibisco-transparente: rgba(182, 61, 37, 0.8);
$hibisco-claro: #D85931;
$cinza-claro: #DADADA;
$cinza-medio: #C4C4C4;
$cinza-escuro: #909090;
$mostarda-escuro: #E27B01;
$mostarda-claro: #FF8A00;



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: 'Benton Sans Condensed Regular';
    src: url('../fonts/BentonSans\ Condensed\ Regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Benton Sans Condensed Black';
    src: url('../fonts/BentonSans\ Condensed\ Black.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Benton Sans Condensed Bold';
    src: url('../fonts/BentonSans\ Condensed\ Bold.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Benton Sans Condensed Medium';
    src: url('../fonts/BentonSans\ Condensed\ Medium.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

.cabecalho {
    position: fixed;
    z-index: 10000000;
    gap: 32vw;
    background-color: $hibisco;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vw;


    .cabecalho-imagem{
        position: fixed;
        align-self: baseline;
        width: 4.5vw;
        top: 2vw;
        margin-left: 3vw;
        z-index: 100;
    }

    .nav{
        margin-right: 5vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5vw;
        width: 100%;
        z-index: 10000;
    

        .nav-link{
            display: flex;
            color: $branco;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1vw;
            line-height: 1vh;
            letter-spacing: 0.3vw;
            text-transform: uppercase;
            transition: 0.5s;

            &:hover{
                color: $mostarda-escuro;
            }
        }

        .icons{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 3vw;
        }
    }
}

.conteudo{
    width: 100%;
    height: 44vw;
    background-color: $hibisco;
    z-index: 0;
    
    .grafismos-pai{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .grafismos1{
            background-image: url(../img/grafismos-main-superior.png);
            background-size: 14vw;
            background-position-y: 5vw;
            width: 100%;
            height: 15vw;
        }
        .grafismos2{
            background-image: url(../img/grafismos-main-inferior.png);
            background-size: 14vw;
            background-position-y: 16.75vw;
            width: 100%;
            height: 30.5vw;
        }
    }

    .entrada-marun{
        filter: brightness(50%);
        width: 100%;
        height: 30.5vw;
        z-index: 2;
        top: 10vw;
        position: absolute;
    }

    .conteudo-texto{
        width: 33vw;
        position: relative;
        z-index: 3;
        top: -25vw;
        left: 20vw;
    
        .titulo{
            font-family: 'Benton Sans Condensed Black';
            font-style: normal;
            font-weight: 800;
            font-size: 4vw;
            line-height: 4vw;
        }
    
        .titulo-branco{
            color: $branco;
        }
    
        .titulo-mostarda{
            color: $mostarda-claro;
        }
    
        .texto{
            padding-top: 2vw;
            color: $branco;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 300;
            font-size: 1vw;
            line-height: 130%;
            letter-spacing: 0.02em;
        }
    
        .texto b{
            color: $hibisco;
        }
    }
}

.cozinha{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 8vw auto;

    .cozinha-apresentacao{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;

        .chef-imagem{
            width: 28vw;
            margin: 0 3vw;
            align-self: flex-start;
        }

        .nome-card{
            text-transform: uppercase;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 0.75vw;
            line-height: 140%;
            letter-spacing: 0.5vw;
            color: $hibisco;
            margin: 0.75vw 0;
        }

        .titulo-cozinha{
            font-family: 'Benton Sans Condensed Black';
            font-style: normal;
            font-weight: 800;
            font-size: 4vw;
            line-height: 4.5vw;
        }

        .titulo-cozinha-hibisco{
            color: $hibisco;
        }

        .texto{
            margin-top: 2vw;
            padding-right: 9.5vw;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1.25vw;
            line-height: 130%;
            letter-spacing: 0.02vw;

            b{
                color: $hibisco;
                font-weight: bold;
            }
        }
    }

    .galeria-cozinha{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-bottom: 2px solid #9191914d;
        padding-bottom: 2.5vw;

        .imagem-galeria{
            margin: 1vw auto;
            width: 25vw;
        }
    }
    
    
}

.drinks{
    width: 80vw;
    display: flex;
    margin: 2vw auto;

    .conteudo-texto-drinks{
        width: 43vw;
        padding-right: 1vw;
        .nome-card{
            text-transform: uppercase;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 0.75vw;
            line-height: 140%;
            letter-spacing: 0.5vw;
            color: $hibisco;
            margin: 0.75vw 0;
        }
    
        .titulo-drinks{
            font-family: 'Benton Sans Condensed Black';
            font-style: normal;
            font-weight: 800;
            font-size: 3.5vw;
            line-height: 4.5vw;
        }
    
        .titulo-drinks-hibisco{
            color: $hibisco;
        }
    
        .texto{
            margin: 2vw 0;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1.2vw;
            line-height: 130%;
            letter-spacing: 0.02vw;
    
            b{
                color: $hibisco;
                font-weight: bold;
            }
        }
        
        .cardapio{
            width: 23vw;
            height: 5vw;
            border-radius: 8px;
            background-color: $mostarda-escuro;
            color: $branco;
            text-transform: uppercase;
            text-align: center;
            border: none;
            font-family: 'Benton Sans Condensed Medium';
            font-style: normal;
            font-weight: 800;
            font-size: 1.25vw;
            line-height: 1vw;
            letter-spacing: 0.15vw;
            transition: 0.5s;

            &:hover{
                background-color: $mostarda-claro;
                border: $hibisco solid 1px;
            }
        }
    }
    
    .galeria-drinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 4vw;
    }

    .drinks-imagem{
        margin-bottom: 1vw;
        width: 11vw;
    }
}

.sobre{
    background-image: url(../img/rectangle-3.png);

    .galeria-sobre{
        .siga{
            font-family: 'Benton Sans Condensed Black';
            font-style: normal;
            font-weight: 800;
            font-size: 3.5vw;
            line-height: 4vw;
            text-align: center;            
        }

        .fotos-sobre{
            height: 20vw;
            background-image: url(../img/grafismos-sobre.png);
            background-size: 20.2vw;
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 8vw;

            .galeria-instagram{
                background-color: $hibisco-transparente;
                overflow: hidden;
                margin: auto;
                width: 15.5vw;
                height: 15.5vw;
            }
            .cut1{
                margin-left: -10vw;
            }
        }
    }

    .descricao-sobre{
        width: 100%;

        .conteiner-imagem{
            background-image: url(../img/marun-interno.png);
            width: 100%;
        }
        .texto-sobre{
            width: 30vw;
            height: 100%;
            padding: 3vw 2vw;
            background-color: $hibisco-transparente;
            position: relative;
            left: 50vw;
        }
        .subtitulo{
            text-align: inherit;
            color: $branco;
            font-family: 'Benton Sans Condensed Bold';
            font-style: normal;
            font-weight: 800;
            font-size: 2.5vw;
            line-height: 2.5vw;
        }

        .subtitulo-mostarda-claro{
            color: $mostarda-claro;
        }

        .texto{
            color: $branco;
            font-family: 'Benton Sans Condensed Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1.2vw;
            line-height: 130%;
            letter-spacing: 0.03vw;

            b{
                color: $mostarda-claro;
                font-weight: bold;
            }
        }
    }
    
}

.mapa{
    width: 100%;
}

.rodape{
    height: 24vw;
    position: relative;
    top: -1.75vw;
    background-image: url(../img/rodape-grafismos.png);
    background-size: 25.5vw;
    background-repeat: repeat-x;

    .rodape-elementos{
        padding: 5vw 0;
        height: 19.25vw;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: 1.75vw;
        background-color: $preto;
        color: $branco;

        .imagem-rodape{
            margin: auto 0;
            width: 10vw;
        }

        .rodape-texto{
            margin: auto 0;

            p{
                font-family: 'Benton Sans Condensed Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 1vw;
                line-height: 140%;
                letter-spacing: 0.05vw;

                a{
                    color: $mostarda-escuro;
                }
            }
            
        }

        .contato{
            display: flex;
            flex-direction: column;
            align-items: initial;
            margin: auto 0;
            p{
                padding: 1vw 0;
                color: $branco;
                font-family: 'Benton Sans Condensed Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 1.25vw;
                line-height: 1.5vw;
            }

            .elemento-contato{
                display: flex;
                justify-content: space-around;

                .icons{
                    text-decoration-color: none;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $hibisco;
                    border-radius: 50%;
                    width: 4vw;
                    height: 4vw;
                    margin: 0 1vw;

                    a{
                        display: flex;
                    }

                    a:visited{
                        color: $branco;
                    }
                    svg{
                        margin: auto 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px){
    .cabecalho{
        height: 9vw;
        position: static;

        .cabecalho-imagem{
            display: none;
        }
        .nav{
            justify-content: space-around;

            .nav-link{
                font-size: 3.5vw;
            }
            .icons{
                width: 3.5vw;
                gap: 4vw;

                svg{
                    width: 3.5vw;
                    height: 3.5vw;
                }
            }
        }
    }

    .conteudo{
        background-color: $branco;
        height: auto;

        .grafismos-pai{
            display: none;
        }

        .entrada-marun{
            display: none;
        }
        .conteudo-texto{
            background-image: url(../img/Rectangle-13.png);
            background-size: 210vw;
            background-position-x: -50vw;
            background-repeat: no-repeat;
            
            position: static;
            width: 100%;
            position: relative;
            z-index: 10;
            top: 0vw;
            left: 0vw;

            .titulo{
                padding-top: 4vw;
                text-align: center;
                font-family: 'Benton Sans Condensed Black';
                font-style: normal;
                font-weight: 800;
                font-size: 8vw;
                line-height: 8vw;
                text-shadow: 1px 1px 2px $preto;
            }

            .texto {
                color: $branco;
                font-family: 'Benton Sans Condensed Regular';
                font-style: normal;
                font-weight: 300;
                font-size: 4vw;
                line-height: 130%;
                letter-spacing: 0.02em;
                padding: 4vw 8vw;
                text-shadow: 1px 1px 2px $preto;
            }
        }
    }

    .cozinha{
        .cozinha-apresentacao{
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .chef-imagem{
                margin: 0 auto;
                width: 16rem;
                border-radius: 10px;
                padding-bottom: 4vw;
            }

            .conteudo-texto-cozinha{
                margin: 0 auto;

                .nome-card{
                    text-align: center;
                    font-size: 4vw;
                }
    
                .titulo-cozinha{
                    text-align: center;
                    font-size: 8vw;
                    line-height: 8vw;
                }
    
                .titulo-cozinha-hibisco{
                    text-align: center;
    
                }
    
                .texto{
                    text-align: center;
                    font-size: 4.25vw;
                }
            }
           
        }

        .galeria-cozinha{
            flex-direction: column;
            flex-wrap: nowrap;
            .imagem-galeria{
                margin: 2vw auto;
                width: 80vw;
            }
        }
    }

    .drinks{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80vw;

        .conteudo-texto-drinks{
            margin: 0 auto;
            width: 70vw;
            .nome-card{
                text-align: center;
                font-size: 4vw;
                margin: 0;
                padding: 4vw 0;
            }

            .titulo-drinks{
                text-align: center;
                font-size: 8vw;
                line-height: 8vw;
            }

            .texto{
                text-align: center;
                margin: 4vw 0;
                font-size: 4vw;
            }
            .cardapio{
                width: 60vw;
                height: 12vw;
                border-radius: 8px;
                font-size: 4vw;
                margin-left: 5vw;
                margin-bottom: 4vw;
            }
        }

        .galeria-drinks{
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 4vw;

            .drinks-imagem{
                width: 60vw;
            }
        }
        
    }

    .sobre{
        .galeria-sobre{
            .siga{
                color: $mostarda-escuro;
                font-size: 10vw;
                text-shadow: 2px 2px 4px $preto;
            }

            .fotos-sobre{
                display: none;
            }
        }
        .descricao-sobre{
            width: 100vw;
            .conteiner-imagem{
                background-image: url(../img/grafismos-sobre.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            .texto-sobre{
                text-align: center;
                width: 100%;
                background-color: transparent;
                position: relative;
                left: 0vw;
                text-shadow: 2px 2px 4px $preto;
                
            }
            .subtitulo{
                font-size: 7vw;
                line-height: 7vw;
            }
            .texto{
                font-size: 5vw;
            }
        }
    }

    .rodape{
        height: 40vw;
        .rodape-elementos{
            height: 40vw;
            .imagem-rodape{
                width: 19vw;
            }
    
            .rodape-texto{
                p{
                    font-size: 3vw;
                }  
            }
            .contato{
                p{
                    font-size: 3vw;
                }
                .elemento-contato{  
                    .icons{
                        width: 8vw;
                        height: 8vw;
                        svg{
                            width: 4vw;
                            height: 4vw;
                        }
                    }
                }
            }
        }
    }
}