* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: 'Benton Sans Condensed Regular';
  src: url("../fonts/BentonSans Condensed Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benton Sans Condensed Black';
  src: url("../fonts/BentonSans Condensed Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benton Sans Condensed Bold';
  src: url("../fonts/BentonSans Condensed Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benton Sans Condensed Medium';
  src: url("../fonts/BentonSans Condensed Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.cabecalho {
  position: fixed;
  z-index: 10000000;
  gap: 32vw;
  background-color: #B73D26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5vw;
}

.cabecalho .cabecalho-imagem {
  position: fixed;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  width: 4.5vw;
  top: 2vw;
  margin-left: 3vw;
  z-index: 100;
}

.cabecalho .nav {
  margin-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5vw;
  width: 100%;
  z-index: 10000;
}

.cabecalho .nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1vh;
  letter-spacing: 0.3vw;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cabecalho .nav .nav-link:hover {
  color: #E27B01;
}

.cabecalho .nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vw;
}

.conteudo {
  width: 100%;
  height: 44vw;
  background-color: #B73D26;
  z-index: 0;
}

.conteudo .grafismos-pai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conteudo .grafismos-pai .grafismos1 {
  background-image: url(../img/grafismos-main-superior.png);
  background-size: 14vw;
  background-position-y: 5vw;
  width: 100%;
  height: 15vw;
}

.conteudo .grafismos-pai .grafismos2 {
  background-image: url(../img/grafismos-main-inferior.png);
  background-size: 14vw;
  background-position-y: 16.75vw;
  width: 100%;
  height: 30.5vw;
}

.conteudo .entrada-marun {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  width: 100%;
  height: 30.5vw;
  z-index: 2;
  top: 10vw;
  position: absolute;
}

.conteudo .conteudo-texto {
  width: 33vw;
  position: relative;
  z-index: 3;
  top: -25vw;
  left: 20vw;
}

.conteudo .conteudo-texto .titulo {
  font-family: 'Benton Sans Condensed Black';
  font-style: normal;
  font-weight: 800;
  font-size: 4vw;
  line-height: 4vw;
}

.conteudo .conteudo-texto .titulo-branco {
  color: #fff;
}

.conteudo .conteudo-texto .titulo-mostarda {
  color: #FF8A00;
}

.conteudo .conteudo-texto .texto {
  padding-top: 2vw;
  color: #fff;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 1vw;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.conteudo .conteudo-texto .texto b {
  color: #B73D26;
}

.cozinha {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8vw auto;
}

.cozinha .cozinha-apresentacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vw;
}

.cozinha .cozinha-apresentacao .chef-imagem {
  width: 28vw;
  margin: 0 3vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.cozinha .cozinha-apresentacao .nome-card {
  text-transform: uppercase;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 140%;
  letter-spacing: 0.5vw;
  color: #B73D26;
  margin: 0.75vw 0;
}

.cozinha .cozinha-apresentacao .titulo-cozinha {
  font-family: 'Benton Sans Condensed Black';
  font-style: normal;
  font-weight: 800;
  font-size: 4vw;
  line-height: 4.5vw;
}

.cozinha .cozinha-apresentacao .titulo-cozinha-hibisco {
  color: #B73D26;
}

.cozinha .cozinha-apresentacao .texto {
  margin-top: 2vw;
  padding-right: 9.5vw;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 130%;
  letter-spacing: 0.02vw;
}

.cozinha .cozinha-apresentacao .texto b {
  color: #B73D26;
  font-weight: bold;
}

.cozinha .galeria-cozinha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 2px solid #9191914d;
  padding-bottom: 2.5vw;
}

.cozinha .galeria-cozinha .imagem-galeria {
  margin: 1vw auto;
  width: 25vw;
}

.drinks {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2vw auto;
}

.drinks .conteudo-texto-drinks {
  width: 43vw;
  padding-right: 1vw;
}

.drinks .conteudo-texto-drinks .nome-card {
  text-transform: uppercase;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 140%;
  letter-spacing: 0.5vw;
  color: #B73D26;
  margin: 0.75vw 0;
}

.drinks .conteudo-texto-drinks .titulo-drinks {
  font-family: 'Benton Sans Condensed Black';
  font-style: normal;
  font-weight: 800;
  font-size: 3.5vw;
  line-height: 4.5vw;
}

.drinks .conteudo-texto-drinks .titulo-drinks-hibisco {
  color: #B73D26;
}

.drinks .conteudo-texto-drinks .texto {
  margin: 2vw 0;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 130%;
  letter-spacing: 0.02vw;
}

.drinks .conteudo-texto-drinks .texto b {
  color: #B73D26;
  font-weight: bold;
}

.drinks .conteudo-texto-drinks .cardapio {
  width: 23vw;
  height: 5vw;
  border-radius: 8px;
  background-color: #E27B01;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: 'Benton Sans Condensed Medium';
  font-style: normal;
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 1vw;
  letter-spacing: 0.15vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.drinks .conteudo-texto-drinks .cardapio:hover {
  background-color: #FF8A00;
  border: #B73D26 solid 1px;
}

.drinks .galeria-drinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 4vw;
}

.drinks .drinks-imagem {
  margin-bottom: 1vw;
  width: 11vw;
}

.sobre {
  background-image: url(../img/rectangle-3.png);
  background-size: contain;
}

.sobre .galeria-sobre .siga {
  font-family: 'Benton Sans Condensed Black';
  font-style: normal;
  font-weight: 800;
  font-size: 3.5vw;
  line-height: 4vw;
  text-align: center;
}

.sobre .galeria-sobre .fotos-sobre {
  height: 20vw;
  background-image: url(../img/grafismos-sobre.png);
  background-size: 20.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 8vw;
}

.sobre .galeria-sobre .fotos-sobre .galeria-instagram {
  background-color: rgba(182, 61, 37, 0.8);
  overflow: hidden;
  margin: auto;
  width: 15.5vw;
  height: 15.5vw;
}

.sobre .galeria-sobre .fotos-sobre .cut1 {
  margin-left: -10vw;
}

.sobre .descricao-sobre {
  width: 100%;
}

.sobre .descricao-sobre .conteiner-imagem {
  background-image: url(../img/marun-interno.png);
  background-size: 120vw;
  width: 100%;
}

.sobre .descricao-sobre .texto-sobre {
  width: 30vw;
  height: 100%;
  padding: 3vw 2vw;
  background-color: rgba(182, 61, 37, 0.8);
  position: relative;
  left: 50vw;
}

.sobre .descricao-sobre .subtitulo {
  text-align: inherit;
  color: #fff;
  font-family: 'Benton Sans Condensed Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 2.5vw;
  line-height: 2.5vw;
}

.sobre .descricao-sobre .subtitulo-mostarda-claro {
  color: #FF8A00;
}

.sobre .descricao-sobre .texto {
  color: #fff;
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 130%;
  letter-spacing: 0.03vw;
}

.sobre .descricao-sobre .texto b {
  color: #FF8A00;
  font-weight: bold;
}

.mapa {
  width: 100%;
}

.rodape {
  height: 24vw;
  position: relative;
  top: -1.75vw;
  background-image: url(../img/rodape-grafismos.png);
  background-size: 25.5vw;
  background-repeat: repeat-x;
}

.rodape .rodape-elementos {
  padding: 5vw 0;
  height: 19.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 1.75vw;
  background-color: #000;
  color: #fff;
}

.rodape .rodape-elementos .imagem-rodape {
  margin: auto 0;
  width: 10vw;
}

.rodape .rodape-elementos .rodape-texto {
  margin: auto 0;
}

.rodape .rodape-elementos .rodape-texto p {
  font-family: 'Benton Sans Condensed Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 140%;
  letter-spacing: 0.05vw;
}

.rodape .rodape-elementos .rodape-texto p a {
  color: #E27B01;
}

.rodape .rodape-elementos .contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin: auto 0;
}

.rodape .rodape-elementos .contato p {
  padding: 1vw 0;
  color: #fff;
  font-family: 'Benton Sans Condensed Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.5vw;
}

.rodape .rodape-elementos .contato .elemento-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rodape .rodape-elementos .contato .elemento-contato .icons {
  -webkit-text-decoration-color: none;
          text-decoration-color: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #B73D26;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  margin: 0 1vw;
}

.rodape .rodape-elementos .contato .elemento-contato .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rodape .rodape-elementos .contato .elemento-contato .icons a:visited {
  color: #fff;
}

.rodape .rodape-elementos .contato .elemento-contato .icons svg {
  margin: auto 0;
}

@media screen and (max-width: 786px) {
  .cabecalho {
    height: 9vw;
    position: static;
  }
  .cabecalho .cabecalho-imagem {
    display: none;
  }
  .cabecalho .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cabecalho .nav .nav-link {
    font-size: 3.5vw;
  }
  .cabecalho .nav .icons {
    width: 3.5vw;
    gap: 4vw;
  }
  .cabecalho .nav .icons svg {
    width: 3.5vw;
    height: 3.5vw;
  }
  .conteudo {
    background-color: #fff;
    height: auto;
  }
  .conteudo .grafismos-pai {
    display: none;
  }
  .conteudo .entrada-marun {
    display: none;
  }
  .conteudo .conteudo-texto {
    background-image: url(../img/Rectangle-13.png);
    background-size: 210vw;
    background-position-x: -50vw;
    background-repeat: no-repeat;
    position: static;
    width: 100%;
    position: relative;
    z-index: 10;
    top: 0vw;
    left: 0vw;
  }
  .conteudo .conteudo-texto .titulo {
    padding-top: 4vw;
    text-align: center;
    font-family: 'Benton Sans Condensed Black';
    font-style: normal;
    font-weight: 800;
    font-size: 8vw;
    line-height: 8vw;
    text-shadow: 1px 1px 2px #000;
  }
  .conteudo .conteudo-texto .texto {
    color: #fff;
    font-family: 'Benton Sans Condensed Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 130%;
    letter-spacing: 0.02em;
    padding: 4vw 8vw;
    text-shadow: 1px 1px 2px #000;
  }
  .cozinha .cozinha-apresentacao {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cozinha .cozinha-apresentacao .chef-imagem {
    margin: 0 auto;
    width: 16rem;
    border-radius: 10px;
    padding-bottom: 4vw;
  }
  .cozinha .cozinha-apresentacao .conteudo-texto-cozinha {
    margin: 0 auto;
  }
  .cozinha .cozinha-apresentacao .conteudo-texto-cozinha .nome-card {
    text-align: center;
    font-size: 4vw;
  }
  .cozinha .cozinha-apresentacao .conteudo-texto-cozinha .titulo-cozinha {
    text-align: center;
    font-size: 8vw;
    line-height: 8vw;
  }
  .cozinha .cozinha-apresentacao .conteudo-texto-cozinha .titulo-cozinha-hibisco {
    text-align: center;
  }
  .cozinha .cozinha-apresentacao .conteudo-texto-cozinha .texto {
    padding-right: 0;
    text-align: center;
    font-size: 4.25vw;
  }
  .cozinha .galeria-cozinha {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .cozinha .galeria-cozinha .imagem-galeria {
    margin: 2vw auto;
    width: 80vw;
  }
  .drinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80vw;
  }
  .drinks .conteudo-texto-drinks {
    margin: 0 auto;
    width: 70vw;
  }
  .drinks .conteudo-texto-drinks .nome-card {
    text-align: center;
    font-size: 4vw;
    margin: 0;
    padding: 4vw 0;
  }
  .drinks .conteudo-texto-drinks .titulo-drinks {
    text-align: center;
    font-size: 8vw;
    line-height: 8vw;
  }
  .drinks .conteudo-texto-drinks .texto {
    text-align: center;
    margin: 4vw 0;
    font-size: 4vw;
  }
  .drinks .conteudo-texto-drinks .cardapio {
    width: 60vw;
    height: 12vw;
    border-radius: 8px;
    font-size: 4vw;
    margin-left: 5vw;
    margin-bottom: 4vw;
  }
  .drinks .galeria-drinks {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4vw;
  }
  .drinks .galeria-drinks .drinks-imagem {
    width: 60vw;
  }
  .sobre .galeria-sobre .siga {
    color: #E27B01;
    font-size: 10vw;
    text-shadow: 2px 2px 4px #000;
  }
  .sobre .galeria-sobre .fotos-sobre {
    display: none;
  }
  .sobre .descricao-sobre {
    width: 100vw;
  }
  .sobre .descricao-sobre .conteiner-imagem {
    background-image: url(../img/grafismos-sobre.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .sobre .descricao-sobre .texto-sobre {
    text-align: center;
    width: 100%;
    background-color: transparent;
    position: relative;
    left: 0vw;
    text-shadow: 2px 2px 4px #000;
  }
  .sobre .descricao-sobre .subtitulo {
    font-size: 7vw;
    line-height: 7vw;
  }
  .sobre .descricao-sobre .texto {
    font-size: 5vw;
  }
  .rodape {
    height: 40vw;
  }
  .rodape .rodape-elementos {
    height: 40vw;
  }
  .rodape .rodape-elementos .imagem-rodape {
    width: 19vw;
  }
  .rodape .rodape-elementos .rodape-texto p {
    font-size: 3vw;
  }
  .rodape .rodape-elementos .contato p {
    font-size: 3vw;
  }
  .rodape .rodape-elementos .contato .elemento-contato .icons {
    width: 8vw;
    height: 8vw;
  }
  .rodape .rodape-elementos .contato .elemento-contato .icons svg {
    width: 4vw;
    height: 4vw;
  }
}
/*# sourceMappingURL=style.css.map */